.footer {
  background-color: #2d3234;
  height: 60px;
  /* position: sticky; */
  bottom: 0px;
  width: 100%;
}

.footer-content {
  display: flex;
  height: inherit;
  justify-content: space-around;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-link {
  margin: 5px;
  color: rgb(252, 140, 132);
  font-size: 35px;
}