/* responsive */

.main-portfolio {
  display: flex;
  justify-content: space-between;
}

.main-portfolio .header-container {
  width: 30%;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-bottom: 24px;
  justify-content: space-evenly; 
}

.folio-card {
  height: auto;
  width: 300px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EB6A60;
  justify-content: space-evenly;
}

.folio-card:hover {
  transform: scale(1.05);
  transition-duration: 0.7s;
  transition: all 1s ease;
}

.folio-card img {
  max-width: 100%;
  height: auto;
}

.folio-card h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #484554;
  justify-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .main-portfolio {
    flex-direction: column;
  }

  .portfolio-cards {
    width: 100%;
    overflow: scroll;
  }

  .folio-card {
    height: auto;
  }

  .main-portfolio .header-container {
    width: unset;
  }
}

@media only screen and (max-width: 995px) {
 .portfolio-cards {
   overflow: scroll;
 }
}