@import "./navbar.css";
@import "./footer.css";
@import "./home.css";
@import "./contact.css";
@import "./about.css";
@import "./blog.css";
@import "./portfolio.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Source+Sans+Pro|Source+Serif+Pro&display=swap');

body {
  margin: 0px;
  background-color: #C7FCEB;
}

main {
  height: calc(100vh - 65px - 60px);
}
